@import "tailwindcss";

@font-face {
    font-family: Inter;
    src: url(/assets/fonts/Inter_24pt-BoldItalic.ttf) format("truetype");
}

@font-face{
    font-family: Ronzino-Medium;
    src: url(/assets/fonts/Ronzino-Medium.otf) format("opentype");
}

@font-face {
    font-family: Ronzino-Oblique;
    src: url(/assets/fonts/Ronzino-Oblique.otf) format("opentype");
}

@font-face {
    font-family: Fino-Sans;
    src: url(/assets/fonts/Fino-Sans-Title-Regular.ttf) format("truetype");
}

@theme{
    --font-Inter: Inter, sans-serif;
    --font-Ronzino-Medium: Ronzino-Medium, sans-serif;
    --font-Ronzino-Oblique: Ronzino-Oblique, sans-serif;
    --font-Fino: Fino-Sans, sans-serif;
}